body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% of the viewport height */
  margin: 0;
  background-image: linear-gradient(to right top, #f7d9ea, #f7cae2, #f7bbda, #f7acd1, #f79cc7, #f79bc7, #f79bc6, #f79ac6, #f8a8cf, #f9b6d8, #f9c4e0, #fad1e8);
}

header {
  display: flex;
  width: 100%;
  align-items: baseline;
  background-color: #000000;
  padding: 8px 12px;
  box-sizing: border-box;
}

h4 {
  display: block;
  color:#f79bc6;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  font-family:'Courier New', Courier, monospace ;
  padding: 8px 12px;
  margin: 0;
  margin-bottom: auto;
}

#laatikko {
  margin: 20px;
}

.elokuva-container {
  display: flex;
  gap: 20px;
}

.elokuva-container img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.elokuva-tiedot {
  flex: 1;
}

.elokuva-tiedot h1 {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold ;
  margin: 5px 0;
}

.elokuva-tiedot h2 {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px 0;
}

.title-container {
  display: flex;
  align-items: center;
}
.wishlist-button {
  cursor: pointer;
  font-size: 1em;
}

.wishlist {
  background-color: red;
  color: white;
}