body {
  background-color: rgb(248, 196, 246);
}
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  background-color: #000000;
}
h2 {
  display: block;
  color: rgb(248, 196, 246);
  float: left;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(248, 196, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }